doctype html
html
  head
    meta(charset="UTF-8")
    title Flow code

    link(rel="stylesheet", type="text/css", href="/css/default.css")
    link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
    script(src="/lib/jquery.min.js", type="application/javascript")
    script(src="/lib/fabric.min.js", type="application/javascript")
  body
    h1 Flow Code Prototype
    h2 Flow Code Prototype
    h3 Flow Code Prototype
    h4 Flow Code Prototype
    h5 Flow Code Prototype
    h6 Flow Code Prototype
