doctype html
html
  head
    meta(charset="UTF-8")
    title Flow code

    link(rel="stylesheet", type="text/css", href="/css/default.css")
    link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
    script(src="/lib/jquery.min.js", type="application/javascript")
    script(src="/lib/fabric.min.js", type="application/javascript")
  body
    .box.outer
      .box.toolbox

      .box.workspace
